@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding:0;
    margin:0;
    
}
body{
    font-family: "Poppins", sans-serif;  
}
/* OFFER */
#offer{
    background-color: #1D232c;
    font-size: 20px;
}

/* Navbar */
#nav{
    position:sticky;
    top:0;
    background-color: white;
    padding:5px 18px;
    
}
#nav__title{
    font-size: 30px;
    color:#1D232c;
}

#nav__items li a{
    font-size:17px;
    color:#1D232c;
}
#nav__items li a:hover{
    color:black;
    border-bottom: solid #1D232c 1px;
}
#nav__sidebar li a:hover{
    
    border-bottom: solid white 1px;
}
#nav__menu{
    display:none;  
  }
/* IMAGE SECTION */

/* New Arrivals */
#new__arrivals__title p{
    font-size: 30px;
}
/* sale section */
#sale__section__items h1{
    font-size: 40px;
    
}
#sale__section__items p{
    font-size: 30px;
    
}
#sale__section__items button{
    font-size: 20px;
    
}
/* Search */
#search__items h1{
    font-size: 35px;
}
#search__items p{
    font-size: 25px;
}
#search__items button{
    font-size: 20px;
}
#search__input input{
    width:80%;
}
/* footer */
#footer__items h1{
    font-size: 40px;
}
#footer__items p{
    font-size: 30px;
}
#footer__icons i{
    font-size: 30px;
}
/* Collection items */
/* collection */
 #collections{
    margin:15px;
    gap:5px;
}
#collection__s1{
    margin-left:10px;
}
#collection__s1 label{
    font-size: 20px;
}
#collection__s1__checkbox h1 {
    font-size: 30px;
    
}
#collection__s1__checkbox {
    font-size: 20px;

}
#collection__s2{
    width:75%;
}



































/* Styles for mobile devices (less than 768px) */
@media only screen and (max-width: 767px) {
    #offer{
        font-size: 8px;
    }
    #nav__items{
        display:none;
    }
    #nav__menu{
      display:flex;
    }
    #nav__title h1{
        font-size: 20px;
    }
    #hero__items h1{
        font-size: 10px;
    }
    #hero__items p{
        font-size: 10px;
    }
    #hero__items button{
        font-size: 7px;
    }
    #nav__sidebar
    {
        width:35%;
        font-size: 10px;
    }
    /* Brands */
    #brand__title p{
        font-size: 25px;
    }
    #brand__desc{
        gap:3px;
    }
    #brand__items{
      margin:0;
      margin-left: 0;
      gap:3px;  
    }
    #brand__items img{
        width:20px;
        height:20px;

    }
    #brand__items p{
        font-size: 10px;
    }
    /* Customer */
    #customer{
        margin-top: 5px;
        gap:7px;
        margin:4px;
    }
    #customer__title p{
        font-size:10px;
        line-height: 14px;
    }
    #customer__services{
        gap:5px;
        padding: 3px;
    }
    #customer__services div{
        padding: 2px;
    }
    #customer__services p{
        font-size:7px;
        padding: 2px;
        
    }
    #customer__services svg{
        width:20px;
        height:20px;
        padding: 2px;
    }
    /* New Arrival Items */
    #new__arrivals{
        margin-top: 10px;
        margin:5px;
    }
    #most__wanted{
        margin-top: 10px;
        margin:5px;
    }
    #new__arrivals__items{
        margin-top: 0px;
    }
    #new__arrivals__desc{
        margin-top: 8px;
    }
    #new__arrivals__title p{
        font-size: 10px;
    }
    #new__arrivals__items__img img {
        width:80px;
    }
    #new__arrivals__items__button button{
        padding: 4px;
        font-size: 8px;
        border-radius: 3px;
    }
    /* Sale Section */
    #sale__section{
        padding:0px 0px;
        padding: 5px;
        gap:10px;
    }
    #sale__section__image{

    }
    #sale__section__image img{
       width:200px;
    }
    #sale__section__items p{
        font-size: 10px;
        margin-top: 2px;
    }
    #sale__section__items h1{
        font-size: 10px;
        
    }
    #sale__section__items button{
        margin-top: 2px;
        padding:0px 0px;
        padding: 3px;
        font-size: 10px;
        border-radius: 4px;
    }
    /* Search */
    #search{
        margin-top:8px;
    }
#search__items h1{
    font-size: 15px;
}
#search__items p{
    font-size: 8px;
    margin-top: 4px;
}
#search__items button{
    font-size: 10px;
    margin-bottom: 4px;
}
#search__input input{
    width:90%;
    margin-top: 4px;
}
/* footer */
#footer__items{
    gap:8px;
    padding:10px;
}
#footer__items h1{
    font-size: 20px;
}
#footer__items p{
    font-size: 10px;
}
#footer__icons i{
    font-size: 15px;
}
 /* collection */
 #collections{
    margin:5px;
    gap:5px;
    padding: 4px;
}
#collection__s1{
    margin-left:5px;
}
#collection__s1 label{
    font-size: 10px;
}
#collection__s1__checkbox h1 {
    font-size: 12px;
    
}
#collection__s1__checkbox {
    font-size: 10px;
    margin-top:8px ;

}
#collection__s2{

}
 #collection__s2__seachbar{
   padding:2px;
 }
 #collection__s2__items{
    gap:10px;
 }
 #collection__s2__items__shirts img{
    width:75px;
 }  
 #collection__s2__items__shirts h1{
    font-size: 8px;
    padding-top: 2px;
    line-height: 15px;
 } 
 #collection__s2__items__shirts p{
    font-size: 8px;
    padding-top: 2px;
    line-height: 15px;
 } 
  }
  





  /* Styles for tablets (768px to 991px) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #nav__items{
        display:none;
    }
    #nav__menu{
      display:flex;
    }
     /* Brands */
     #brand__title p{
        font-size: 30px;
    }
    #brand__desc{
        gap:4px;
    }
    #brand__items{
      margin:0;
      margin-left: 0;
      gap:3px;  
    }
    #brand__items img{
        width:30px;
        height:30px;

    }
    #brand__items p{
        font-size: 15px;
    }
    /* customer */
    #customer{
        margin-top: 10px;
        gap:7px;
        margin:8px;
    }
    #customer__title p{
        font-size:13px;
        
    }
    #customer__services{
        gap:5px;
        padding: 3px;
    }
    #customer__services div{
        padding: 3px;
    }
    #customer__services p{
        font-size:10px;
        padding: 3px;
        
    }
    #customer__services svg{
        width:30px;
        height:30px;
        padding: 2px;
    }
    /* New Arrival Items */
    #new__arrivals{
        margin-top: 15px;
        margin:8px;
    }
    #most__wanted{
        margin-top: 10px;
        margin:5px;
    }
    #new__arrivals__items{
        margin-top: 0px;
    }
    #new__arrivals__desc{
        margin-top: 10px;
    }
    #new__arrivals__title p{
        font-size: 25px;
    }
    #new__arrivals__items__img img {
        width:150px;
    }
    #new__arrivals__items__button button{
        padding: 8px;
        font-size: 12px;
        border-radius: 5px;
    }
    /* Sale Section */
    #sale__section__items h1{
        font-size: 30px;
        
    }
    #sale__section__items p{
        font-size: 15px;
        
    }
    #sale__section__items button{
        font-size: 15px;
        
    }
    /* search */
    #search{
        margin-top:15px;
    }
    #search__items h1{
        font-size: 25px;
    }
    #search__items p{
        font-size: 15px;
    }
    /* footer */
    #footer__items{
        gap:12px;
        padding:15px;
    }
    #footer__items h1{
        font-size: 25px;
    }
    #footer__items p{
        font-size: 18px;
    }
    #footer__icons i{
        font-size: 25px;
    }
    /* collection */
    #collections{
    margin:5px;
    gap:5px;
    padding: 5px;
}
#collection__s1{
    margin-left:5px;
}
#collection__s1 label{
    font-size: 15px;
}
#collection__s1__checkbox h1 {
    font-size: 20px;
    
}
#collection__s1__checkbox {
    font-size: 15px;
    margin-top:8px ;

}
#collection__s2{

}
 #collection__s2__seachbar{
   padding:3px;
 }
 #collection__s2__items{
    gap:15px;
 }
 #collection__s2__items__shirts img{
    width:170px;
 }  
 #collection__s2__items__shirts h1{
    font-size: 14px;
    padding-top: 2px;
    line-height: 15px;
 } 
 #collection__s2__items__shirts p{
    font-size: 12px;
    padding-top: 2px;
    line-height: 15px;
 }
    
  }
  
  /* Styles for desktops (992px and above) */
  @media only screen and (min-width: 992px) {
    
  }



