@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding:0;
    margin:0;
    
}
body{
    font-family: "Poppins", sans-serif;  
}
/* OFFER */
#offer{
    background-color: #1D232c;
    font-size: 20px;
}

/* Navbar */
#nav{
    position:sticky;
    top:0;
    background-color: white;
    padding:5px 18px;
}
#nav__title{
    font-size: 30px;
    color:#1D232c;
}

#nav__items li a{
    font-size:17px;
    color:#1D232c;
}
#nav__items li a:hover{
    color:black;
    border-bottom: solid #1D232c 1px;
}
#nav__sidebar li a:hover{
    
    border-bottom: solid white 1px;
}
/* IMAGE SECTION */
#hero__section{
    padding: 5px 18px;
    position:relative;
}
#hero__image img{
    width:100%;
    border-radius: 5px;
}
#hero__items{
position:absolute;
top:30%;
left:20%;
right:20%;
bottom:30%;

}
#hero__items h1{
    font-size: 55px;
}
#hero__items button{
font-size: 13px;
}





























/* Default font size */

#nav__menu{
    display:none;  
  }

/* Media query for tablets */
@media screen and (max-width: 1024px) {
    
    #offer{
        font-size: 14px;
    }
    #hero__items h1{
        font-size: 30px;
    }
    #nav__menu{
      display:none;  
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    
    #offer{
        font-size: 12px;
    }
    #nav__items{
        display:none;
    }
    #nav__menu{
      display:flex;
    }
    #hero__items h1{
        font-size: 20px;
    }
}



